<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <arg name="rvizconfig" default="$(find forklift_description)/launch/forklift.rviz" />

  <include file="$(find forklift_gazebo)/launch/forklift_basement.launch">
  </include>

  <!-- Show in Rviz   -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true"/>

  <!-- <node name="slam_gmapping" pkg="gmapping" type="slam_gmapping">
    <rosparam file="$(find my_robot_navigation)/config/slam_gmapping_params.yaml" />
    <remap from="scan" to="/my_robot/laser/scan" />
  </node> -->

</launch>